.content {
    margin-top: 1rem;
    align-items: center;
}

.textField {
    min-width: 10rem;
    margin: 0 3%;
    flex: 60%;
}

.button {
    margin: 3%;
    flex: 44%;
    min-width: 14rem;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
}

.item {
    min-width: 10rem;
    margin: 0 3%;
    flex: 44%;
}

@media (max-width: 900px) {
    .form {
        margin: 0;
    }
}
