.button {
    min-width: 16rem;
    flex: 44%;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--s2);
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 20%;
}

.header {
    margin-top: 10%;
}

.item {
    margin-bottom: var(--s1);
    min-width: 14rem;
}

@media (max-width: 900px) {
    .form {
        margin: 0;
    }
}
